@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root {
    --main-bg-color: #E9E9E9;
    --primary-text-color: #424242;
    --accent-color: #FF3F3C;
}

body { 
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    margin-bottom: 100px; 
}

header h1 {
    margin: 0;
    font-weight: normal;
}

h3 { 
    text-align: center;
    font-size: 2em;
}

main { 
    background: url('/images/polaroid.png');
    margin: 0 auto;
    width: 1000px;
}

.hero {
    text-align: center;
    min-height: 800px;
}

.hero h2 { 
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase; 
    margin: 0;
}

.details ul li {
    list-style: none;
    margin: 10px 0;
    padding: 30px 0 0 60px;
}

.details ul li.wifi { 
    background: url('/images/wifi-solid.svg') no-repeat center left;
}

.details ul li.cloud { 
    background: url('/images/cloud-arrow-up-solid.svg') no-repeat center left;
}

.details ul li.qr { 
    background: url('/images/qrcode-solid.svg') no-repeat center left;
}

.details ul li.photo { 
    background: url('/images/photo-film-solid.svg') no-repeat center left;
}

.cta {
    text-align: center;
    padding-bottom: 50px;
}

form {
    padding-top: 75px;
    margin: 10px auto 0 auto;
    width: 700px;
    height: 125px;
    border-radius: 50px;
    background: #E2E2E2
}

input[type=text] {
    width: 40%;
    padding: 20px 100px;
    border: none;
}

input[type=button] {
    height: 55px;
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    text-transform: uppercase;
    border: none;
}